{% extends "base.html.twig" %}
{% block title %} Home {% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center" style="margin-top: 15px">
            {% for article in articles %}
                <div class="card col-md-3 m-1" style="width: 18rem; padding-left: initial; padding-right: initial">
                    <img src="https://picsum.photos/seed/picsum/400/300" class="card-img-top" alt="{{ article.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="date" style="font-size: 10px; font-weight: lighter">Écrit le {{ article.createdAt | date("d/m/Y") }} à  {{ article.createdAt | date("H:i") }} </p>
                        <a href="#" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}